<h1>Import a recipe from Marmiton</h1>
<br/>
<form method="POST" action="/import" />
  <p>What ingredient would you like to use ? <input name="ingredient" type="text"></p>
  <p>What level of difficulty ?
  <select name="difficulty">
  <option value="1">Very easy</option>
  <option value="2">Easy</option>
  <option value="3">Intermediate</option>
  <option value="4">Difficult</option>
  </select>
  <input type="submit">
</form>
