<h1>Create a new recipe</h1>
<br/>

<form method="POST" action="/recipes" />
  <p>Recipe name<br/><input name="name" type="text"></p>
  <p>Recipe description<br/><input name="description" type="text"></p>
  <p>Preperation time<br/><input name="time" type="text"></p>
  <p>Difficulty<br/><input name="difficulty" type="text"></p>
  <br/>
  <input type="submit">
</form>
